# LangSmith API key and tracing configuration
LANGSMITH_API_KEY=key-here
LANGSMITH_TRACING=true
HF_HUB_DISABLE_SYMLINKS_WARNING=1

# GROQ
GROQ_API_KEY=key-here

# Embedding model configuration
EMBEDDING_MODEL_NAME=model-name-here